<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cq.springbootdata.mapper.EmployeeMapper">
    <insert id="insertByEmp">
        insert into employee(lastName,email,gender,d_id) values(#{lastName},#{email},#{gender},#{d_id})
    </insert>

    <select id="queryById" resultType="com.cq.springbootdata.bean.Employee">
        select * from employee where id=#{id}
    </select>
</mapper>